# Database Credentials
db_host : xxx
db_user : xxx
db_pass : xxx
db_name : xxx

# Email details API URL
email_api_url : xx

# Document upload API URL
document_upload_url: xx

# Used ID to be used
user_id : me

# Date (yyyy/mm/dd) from which emails should be parsed
start_date : yyyy/mm/dd

# Label ID under which relevant emails are nested
label_id : xxxx

# Gmail API Constants
OOB_URI : urn:ietf:wg:oauth:2.0:oob
APPLICATION_NAME : Gmail API Ruby Quickstart
CREDENTIALS_PATH : credentials.json
TOKEN_PATH : token.yaml

# Approx time taken (in minutes) by cron run.
# This is used along with "last email parsing time" as more emails might have come 
# when cron was being run
CRON_APPROX_RUN_TIME : 5